.cover2{
    display: flex;
    background-image: url(avengers.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    height: 300px;
    font-size: larger;
    font-weight: bolder;
    color: red;
    justify-content: center;
}

.foot{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    text-decoration: none;
    background-color: grey;
    justify-content: center;
    
}
p{  
    font-size: 75%; 
    height: 5px;
    color: white;
    justify-self: center;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: black;
}